<h1>Hi, <%= @user.name %></h1>
<br>
<h2>What have you been up to today?</h2>


<%= render "exercises/exercises_panel" %>
<div class="row">
  <div class="foods col-md-6">

  
  <%= render "foods/foods_panel" %>
  </div>
</div>
